[Unit]
Description=Demon Beauty Web Builder
After=network.target

[Service]
Type=simple
WorkingDirectory=@ROOT_DIR@
ExecStart=@ROOT_DIR@/start.sh
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Restart=on-failure

[Install]
WantedBy=multi-user.target
